<div class="mainpage">
    <div class="course-list">
        <div class="buttons">
            <div  class="proba">
                <app-new-course-button></app-new-course-button>
            </div>
            <app-filter (onChange)="getNewOrder(status)"></app-filter>
        </div>
        <app-course-card *ngFor="let course of courses" 
        [title]="course.name"
        [description]="course.description"
        [id]="course.id"
        [actual]="course.applicants.length"
        [max] = "course.maxNumber"
        [date]="course.date"
        [teacher]="course.teachers[0].name"
        [avatar] = "course.teachers[0].avatar"
        [image]= "course.image"
        ></app-course-card>
        <div class="next_prev">
            <div class="previous">
                <button *ngIf="page>0" (click)="previousPage()">◀ Előző oldal</button>
            </div>
            <div class="next">
                <button (click)="nextPage()">Következő oldal ▶ </button>
            </div>
        </div>
    </div>

</div>
