.course-list{
    margin: auto;
    padding: 10px;
    width: 900px;
    /*background-color: blanchedalmond;*/
}

.buttons{
    display: flex;
    margin-bottom: 15px;
}

.proba{
    margin-right: auto;
}