<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    ODA
  </button>
  <span class="fill-remaining-space" fxHide="false" fxHide.gt-sm></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form mt-0">
        <input name="search-bar" class="form-control mr-sm-2" type="text" placeholder="Search"
        [(ngModel)]="model" (focus)="focus=true" (blur)="focus=false" (keyup.enter)="search()">
      </div>
</form>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu xPosition="before" #menu="matMenu">
  <button mat-menu-item routerLink="/issues">My issues</button>
  <button mat-menu-item routerLink="/issues/add">New issues</button>
</mat-menu>
<router-outlet></router-outlet>
