img{
    border-radius: 4px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
	height: auto;
	max-height: 260px;
	max-width: 260px;
	width: auto;
}

.course{
    display : flex;
    padding-right: 150px;
    padding-left: 150px;
    margin-top: 50px;
}

.title_buttons{
    display:flex;
}

.img_txt{
    display:flex;
}

.image{
    display: flex;

    margin-right: 15px;
   
}

.text{
    max-width: 700px;
    width: 700px;
}

.title{
    margin-right: 15px;
    font-size: xx-large;
}

.baloldal{
    width: 70%;
    margin-right: 20px;
}

.adatok{
    display:flex;
}

.desc{
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 240px;
    width: 90%;
    margin-top: 20px;
}
.date{
    margin-right: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.avatar{
    margin-right: 15px;
    height: auto;
	max-height: 80px;
    width: auto;
    border-radius: 50%;
}
.teacher{
    margin-right: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.counter{
    margin-right: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

