.teacher-to-course{
    display:flex;
}

.avatarpic {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .avatarpic img {
    width: auto;
    height: 100%;
    margin-left: -20px;
  }