.teacher-to-course{
    max-width: 140px;
}

.legyszi{
    padding-left:30px;
}

.avatarpic {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .avatarpic img {
    width: auto;
    height: 100%;
    margin-left: -20px;
  }

 .teacher-to-course p{
     text-align: center;
     font-weight: 700;
 }