<div class="course" routerLink="/course/{{id}}">
    <div class="image"><img src="{{image}}"></div>
    <div class="text">
        <div class="desc">
                <h1 class="title">{{title}}</h1>
                <p class="description">{{description}}</p>
            </div>
            <div class="date">
                <p><strong>határidő:</strong></p>
                {{date}}
            </div>
            <div class="teacher">
                <img src={{avatar}}>
                <p class="teacher">{{teacher}}</p>
            </div>        
            <h1 class="counter">{{actual}}/{{max}}</h1>
        </div>
</div>
