img{
    border-radius: 4px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
	height: auto;
	max-height: 200px;
	max-width: 200px;
	width: auto;
}

.course{
    display : flex;
    padding-bottom: 16px;
}

.image{
    display: flex;
    float: right;
    margin-right: 15px;
   
}

.text{
    display:flex;
    max-width: 700px;
    width: 700px;
    margin-left:auto;
}

.title{
    margin-right: 15px;
    font-size: 28px;
    line-height: 30px;
}


.description{
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    height: 100px;
    width: 280px;
    margin-right: 20px;
}

.date{
    margin-right: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.date p{
    margin-bottom: 5px;
}

.avatar{
    margin-right: 15px;
    height: auto;
	max-height: 80px;
    width: auto;
    border-radius: 50%;
}
.teacher{
    margin-right: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.counter{
    margin-right: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

